[submodule "mine/vendor/rinari"]
	path = mine/vendor/rinari
	url = git://github.com/rejeep/rinari.git
[submodule "mine/vendor/rhtml"]
	path = mine/vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "mine/vendor/twittering-mode"]
	path = mine/vendor/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "mine/vendor/auto-complete"]
	path = mine/vendor/auto-complete
	url = http://github.com/m2ym/auto-complete
